<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [ngClass]="{hidden: !(isHandset$ | async)}" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="drawer.close()"><mat-icon inline=true>home</mat-icon>Home</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Dragons CRUD</span>
      <!-- This fills the remaining space of the current row -->
      <span class="fill-remaining-space"></span>
      <button mat-icon-button [routerLink]="['/home']" routerLinkActive="router-link-active" *ngIf="!(isHandset$ | async)">Home</button>
      <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="!(isHandset$ | async)"><mat-icon inline=true>account_circle</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
