mat-card {
  width: 600px;
  margin: auto;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

mat-card.card-mobile {
  width: auto;
  height: auto;
}
  
mat-form-field.full-width {
  width: 100%;
}

mat-card-title {
  margin: auto;
}
  
table {
  width: 100%;
}
  
.table-container {
  height: 100%;
  overflow: auto;
}
  
th.mat-sort-header-sorted {
  color: black;
}

.hide-table-column {
  display: none;
}
